body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 75%; /* 4:3 Aspect Ratio */
    overflow: hidden;
    background-color: #000; /* Black background for video container */
    border-radius: 10px;
    margin: 0 auto; /* Center the video container horizontally */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    background-color: #000; /* Black screen before video starts */
}

#gender-label {
    margin: 20px 0;
    font-size: 1.2em;
}

.controls {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

button:disabled {
    background-color: red;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #0056b3;
}
.enable{
 background-color: green;
}
.disable{
    background-color: red;
}